altgraph==0.17.4
certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
idna==3.7
importlib-metadata==7.1.0
loguru==0.7.2
mega.py==1.0.8
packaging==24.0
pefile==2023.2.7
pycryptodome==3.20.0
pyinstaller==6.7.0
pyinstaller-hooks-contrib==2024.6
python-dotenv==1.0.1
pywin32-ctypes==0.2.2
rarfile==4.2
requests==2.32.3
six==1.16.0
tenacity==5.1.5
urllib3==2.2.1
win32-setctime==1.1.0
zipp==3.19.1
